<h1> Authentication Sample </h1>
<form>
  <h2> Login or Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="password" name="password"/>

  <button (click)="login()"> login </button>
  <button (click)="signup()"> signup </button>
  <button (click)="logout()"> logout </button>
</form>

<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
       <li>
         <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
         <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
       </li>
       <li>
         <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
         <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
       </li>
       <li>
         <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
         <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
       </li>
     </ul>
<p class="error"> {{ error }} </p>
