<div class="container">

  <div class="row">
    <div class="col s10 offset-s1 foodlistheader z-depth-5">
      <h1 class="center-align"> Food List </h1>
    </div>

    <div class="row">
      <div class="subtitle">
        <div class="col s10 offset-s1">
          <div class="card-panel green lighten-1">
            <h4 class="white-text center-align">Descubre y agrega las comidas más ricas del momento!</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <a class="btn btn-large col s5 offset-s3 addbutton" [routerLink]="['add']">Add Food <i class="material-icons right">add</i></a>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let food of foods" class="col s4">

        <div class="card">
          <div class="card-image">

            <img class="foodpic img-responsive" [src]='"http://localhost:3000/"+food.imgAvatar' />
            <span class="card-title">  <h5> {{ food.foodName }} </h5></span>
          </div>
          <div class="card-content">
            <p>{{food.review}}</p>
            <br>
            <span><strong>Restaurant:</strong>{{ food.restaurantName }}</span>
            <span> <strong>Rate:</strong>{{ food.rate }}/5</span>
          </div>
          <div class="card-action">
            <a class="btn" [routerLink]="[product._id]">Food Details</a>

          </div>
        </div>

      </div>
    </div>

    <!-- <div class="col s5 offset-s3">
          <div class="card">
            <div class="card-image">

              <img class="foodpic img-responsive" [src]='"http://localhost:3000/"+food.imgAvatar' />
              <span class="card-title">  <h3> {{ food.foodName }} </h3></span>
            </div>
            <div class="card-content">
              <p>{{food.review}}</p>
              <br>
              <span><strong>Restaurant:</strong>{{ food.restaurantName }}</span>
              <span> <strong>Rate:</strong>{{ food.rate }}/5</span>
            </div>
            <div class="card-action">
              <a class="btn" [routerLink]="[food._id]">Food Details</a>

            </div>
          </div>
        </div> -->

  </div>


  <!-- <div>
  <div *ngFor="let food of foods" class="blocky">
    <img height=150 [src]='"http://localhost:3000/"+food.imgAvatar' />
    <h3> {{ food.foodName }} </h3>
    <a [routerLink]="[food._id]"> View Details </a>
  </div>
</div> -->

</div>
