<div class="container">
    <form class="col s12" (ngSubmit)="createFood(myForm)" #myForm="ngForm">

      <div class="row">


        <div class="input-field col s6">
             <i class="material-icons prefix">person</i>
             <input id="icon_prefix" type="text" [(ngModel)]="newFood.foodName" name="foodName" class="validate">
             <label for="icon_prefix">Food Name</label>
           </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">people</i>
          <input id="category" type="text" [(ngModel)]="newFood.foodCategory" name="foodCategory" class="validate">
          <label for="category">Food Category</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="subC" type="text" [(ngModel)]="newFood.foodSubCategory" name="foodSubCategory" class="validate">
          <label for="subC">Food SubCategory</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix"> icon name</i>
          <input id="foodC" type="text"[(ngModel)]="newFood.foodCreator" name="foodCreator" class="validate">
          <label for="foodC">Food Creator</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">image</i>
          <input id="avatarImage" type="text" [(ngModel)]="imgAvatar" name="imgAvatar" class="validate">
          <label for="avatarImage">Avatar Image</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix"> nombre icono</i>
          <input id="city" type="text"[(ngModel)]="newFood.restaurantName" name="restaurantName" class="validate">
          <label for="city">Restaurant Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix"> nombre icono</i>
          <input id="city" type="text"[(ngModel)]="newFood.restaurantAddress" name="restaurantAddress" class="validate">
          <label for="city">Restaurant Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix"> nombre icono</i>
          <input id="city" type="text"[(ngModel)]="newFood.restaurantFoodName" name="restaurantFoodName" class="validate">
          <label for="city">Restaurant Food Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
              <i class="material-icons prefix">description</i>
            <textarea id="textarea1" [(ngModel)]="newFood.review" name="review" class="materialize-textarea" data-length="100"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Sign Up</button>
      </div>

    </form>
  </div>
