
<div class="container">
    <form class="col s12">

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" type="text" class="validate">
          <label for="username"> Username</label>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>

      </div>



      <div class="row">


        <div class="input-field col s6">
             <i class="material-icons prefix">person</i>
             <input id="icon_prefix" type="text" class="validate">
             <label for="icon_prefix">First Name</label>
           </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">people</i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">location_city</i>
          <input id="city" type="text" class="validate">
          <label for="city">City</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">date_range</i>
          <input type="text" class="timepicker">

        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">image</i>
          <input id="avatarimage" type="text" class="validate">
          <label for="avatarimage">Avatar Image</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
              <i class="material-icons prefix">description</i>
            <textarea id="textarea1" class="materialize-textarea" data-length="100"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
            <button (click)='signup()' type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Sign Up</button>
      </div>

    </form>
  </div>

<script>


  </script>



<a [routerLink]="['']"> Homepage </a>

<p class="error"> {{ error }} </p>
