
<nav>
  <div class="nav-wrapper indigo darken-1">
    <a [routerLink]="['']" class="brand-logo right">Voracious</a>
    <a *ngIf="user"> Hola {{ User.username }} </a>

  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="mobile-demo" class="left hide-on-med-and-down">

      <li *ngIf="session.user && session.startLoginCompleted"><strong class="red"> Welcome {{session.user.username}}</strong></li>
      <li *ngIf="!session.user && session.startLoginCompleted"><a [routerLink]="['signup']">Signup</a></li>
      <li *ngIf="!session.user && session.startLoginCompleted"><a [routerLink]="['login']">Login</a></li>
      <li *ngIf="session.user && session.startLoginCompleted"><a [routerLink]="['profile']">Your Profile</a> </li>
      <li><a [routerLink]="['foods']">Foods</a></li>
      <li><a [routerLink]="['']">Home</a></li>

      <li *ngIf="session.user && session.startLoginCompleted"><a (click)="logout()" [routerLink]="['login']">Logout</a></li>


    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>




<router-outlet></router-outlet>
