<nav>
  <div class="nav-wrapper indigo darken-1">
    <a href="#" class="brand-logo right">Voracious</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a [routerLink]="['login']">Login</a></li>
      <li><a [routerLink]="['signup']">Sign Up</a></li>
      <li><a [routerLink]="['foods']">Foods</a></li>
      <li><a [routerLink]="['']">Home</a></li>
    </ul>
  </div>
</nav>


<!-- <h1> hola soy la lombarda principal </h1>

<a [routerLink]="['signup']"> View Details </a> -->
<router-outlet></router-outlet>
