

<div class="container">
<div class="searchbox">
<div class="row">
  <div class="col offset-s4">
  </div>
  <div class="col s3 boximage">
<img class=" circle responsive-img" src="./assets/avatarImageExample.jpg">
</div>
</div>

<div class="row foodtitle">
  <div class="col s12">
  <h1>Voracious</h1>
  <h5>Busca lo que quieres comer, no donde quieres comer</h5>
  </div>
</div>




<div class="row">
  <div class="col s10 offset-s1  searcher container">
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" autocomplete="off"
            materialize="autocomplete"
            [materializeParams]="[{'data': locations}]"
            type="search" placeholder="Busca croquetas, pique macho..." required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

</div>

</div>



<div class="row">
  <div class="col s12 buttonsearch">
      <a class="btn btn-large">Search <i class="material-icons right">local_dining</i></a>
  </div>
</div>

 </div>


<div class="row foodtitle">
  <div class="col s12">
    <hr>
<h2>Encuentra tu mejor comida!</h2>
<hr>
</div>
</div>

<div class="row foodtiles">
  <div class="col s4 foodtile foodcategory pizza hoverable">
    <a href="#"><h5>Pizza</h5></a>
  </div>

  <div class="col s4 foodtile foodcategory burger hoverable">
    <a href="#"><h5>Hamburguesa</h5></a>
  </div>

  <div class="col s4 foodtile foodcategory paella hoverable">
    <a href="#"><h5>Paella</h5></a>
  </div>

</div>

<div class="row foodtiles">
  <div class="col s4 foodtile foodcategory croquetas hoverable">
    <a href="#"><h5>Croquetas</h5></a>
    </div>

  <div class="col s4 foodtile foodcategory pique hoverable">
    <a href="#"><h5>Pique</h5></a>
  </div>

  <div class="col s4 foodtile sushi hoverable">
  <a href="#"><h5>Sushi</h5></a>
  </div>

</div>
</div>

<footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l12 s12">
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Copyright © 2014  Claudia Duarte & Salvatore Costanzo
          </div>
        </div>
      </footer>
